<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{create.button_label}"></title>
</head>
<body>
<h1 th:text="#{create.button_label}"></h1>
<p>
    <a href="/customers" th:text="#{create.list_label}"></a>
</p>
<th:block th:if="${message}">
    <p th:text="#{message_label}" style="color: red"></p>
</th:block>


<form th:action="@{/create-customer}" th:object="${customer}" method="post">
    <table>
        <tr>
            <td th:text="#{firstName_label}"></td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td th:text="#{lastName_label}"></td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" th:value="#{create.button_label}" ></td>
        </tr>
    </table>
</form>
</body>
</html>